.welcome-header {
  margin-top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 550;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.8;
  font-weight: 530;
  margin-bottom: 90px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.login-form input {
  padding: 20px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
}

.login-form .login-form__input {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.login-form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.login-form__input:focus {
  border-color: var(--yellow);
}

.login-form__button {
  background-color: var(--yellow);
  cursor: pointer;
  font-size: 20px;
  padding: 20px 0px;
  border-radius: 5px;
}

.login-form__a {
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-size: 15px;
}
