.icon-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.icon-row__icon {
  width: 25%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35px;
  width: 75px;
}
