.nav {
  position: fixed;
  bottom: 0;
  background-color: #f9f9fa;
  width: 100%;
  padding: 20px;

  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__a {
  position: relative;
}

.nav__chat-noti {
  position: absolute;
  left: 20px;
  top: -15px;
}

.nav__noti {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 30px;
  top: -15px;
}
