.screen-header {
  padding: var(--horizontal-space);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 40px;
  font-weight: 800;
}

.screen-header__icon span {
  margin-left: 25px;
}

.screen-header__setting-cog {
  position: relative;
}

.screen-header__setting-noti {
  display: block;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  top: 25px;
}
